beautifulsoup4==4.12.3
black==24.8.0
dashscope==1.14.1
dill==0.3.8
docker_py==1.10.6
docstring_parser==0.16
expiringdict==1.2.2
feedparser==6.0.11
Flask==3.0.3
flask_babel==4.0.0
Flask_Cors==4.0.0
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
grpcio==1.60.0
inputimeout==1.0.4
langchain==0.3.1
langchain_openai==0.2.1
litellm==1.48.6
llama_index==0.11.14
loguru==0.6.0
markdownify==0.13.1
matplotlib==3.9.2
modelscope==1.18.1
modelscope_studio==0.5.0
nbclient==0.10.0
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.2.1
numpy==2.1.1
openai==0.28.0
oss2==2.19.0
Pillow==10.4.0
playwright==1.47.0
protobuf==5.28.2
psutil==6.0.0
pydantic==2.9.2
PyJWT==2.9.0
pymongo==4.9.1
pymysql==1.1.1
python-dotenv==1.0.1
python-socketio==5.11.4
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
sentence_transformers==3.1.1
setuptools==72.1.0
SQLAlchemy==2.0.34
tiktoken==0.7.0
tqdm==4.66.5
transformers==4.45.1
zhipuai==2.1.5.20230904
